body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 100%;
     max-width: 450px;
     text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

li {
    background: #eee;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

li.done {
    background-color: #c8f7c5;
    text-decoration: line-through;
}

.baixa {
    border-left: 5px solid green;
}

.media {
    border-left: 5px solid orange;
}

.alta {
    border-left: 5px solid red;
}